.container1 {
  display: flex;
  flex-wrap: wrap-reverse;
}

.empty {
  display:flex;
  order: 1;
}

#menu {

}

#footerdroite {
  justify-content: flex-end;
}

#footergauche {
  justify-content: flex-start;
}

 ul{
  list-style-type: none;
  margin: ;
  padding: ;
  justify-content: flex-end;
  justify-content:space-between;
}
